body {
    background-color: gray;
    font-family: 'Ubuntu', sans-serif;
}
.main {
    border: solid red 2px;
    border-radius: 15px;
    background-color: white;
    height: 90%;
    width: 80%;
    padding: 2vw;
   
}
.navbar{
    padding:0;
    margin-bottom : 10vh;
    border:0;
}
.caption {
    position: absolute;
    bottom: 1vh;
    text-align: center;
    visibility:hidden;
}

    .caption h2 {
        font-size: 1.2vw;
        margin-bottom: 2vh;
    }
.poster img {
    border-radius: 5px;
}
    .poster img:hover {       
        opacity: 0.7;
        cursor: pointer;
        transform: scale(1.02);
        -webkit-filter: blur(1px);
        filter: blur(1px);
    }
.poster img:hover + .caption{
    visibility: visible;
    cursor:pointer;
    
}
.repeaterDiv h3{
    font-size: 1.2vw;
    text-align:left;
}
.resultStyle{
    font-size: 2vw;
    font-weight:bold;
}

.headerGrid {
    background-color: #646464;
    font-family: Arial;
    color: White;
    border: none 0px transparent;
    height: 25px;
    text-align: center;
    font-size: 16px;
}
.rowsGrid {
    background-color: #fff;
    font-family: Arial;
    font-size: 14px;
    color: #000;
    min-height: 25px;
    text-align: left;
    border: none 0px transparent;
}

    .rowsGrid:hover {
        background-color: lightgray;
        font-family: Arial;
        color: #fff;
        text-align: left;
    }

.pagerGrid {
    background-color: #646464;
    font-family: Arial;
    color: White;
    height: 30px;
    text-align: left;
}

.mygrdContent td {
    padding: 5px;
}

.mygrdContent th {
    padding: 5px;
}

.Trailer{
    align-content:center;
    margin:auto;
    text-align:center;
}
#youTubeTrailer{
    margin:auto;
}
