body {
    background-color: gray;
    font-family: 'Ubuntu', sans-serif;
}
.main {
   
    border-radius: 15px;
    background-color: white;
    height: 90%;
    width: 80%;
    padding: 2vw;
   
}
.navbar{
    padding:0;
    margin-bottom : 10vh;
    border:0;
    border-bottom:solid orange 2px;
}
.navbar a{
    color:pink
}
.navbar .nav li:hover{
    color:orange;
}
.caption {
    position: absolute;
    top: 27vh;
    text-align: center;
    visibility: visible;
    z-index: 10;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1vw;
    color: black;
    font-style:italic;
}
.caption:hover{
    color: gray;
    font-size: 1.1vw;
    text-decoration: underline;
}
    .caption:hover + img {
        transform: scale(1.01);
        -webkit-filter: blur(100px);
        filter: blur(1px);
        
    }
   

    .caption h2 {
        font-size: 1.2vw;
        margin-bottom: 2vh;
    }
.poster img {
    border-radius: 5px;
    z-index: 2;
}
 
.repeaterDiv h3{
    font-size: 1.2vw;
    text-align:left;
    text-decoration: underline;
}
.resultStyle{
    font-size: 2vw;
    font-weight:bold;
}

.headerGrid {
    background-color: #646464;
    font-family: Arial;
    color: White;
    border: none 0px transparent;
    height: 25px;
    text-align: center;
    font-size: 16px;
}
.rowsGrid {
    background-color: #fff;
    font-family: Arial;
    font-size: 14px;
    color: #000;
    min-height: 25px;
    text-align: left;
    border: none 0px transparent;
}

    .rowsGrid:hover {
        background-color: lightgray;
        font-family: Arial;
        color: #fff;
        text-align: left;
    }

.pagerGrid {
    background-color: #646464;
    font-family: Arial;
    color: White;
    height: 30px;
    text-align: left;
}

.mygrdContent td {
    padding: 5px;
}

.mygrdContent th {
    padding: 5px;
}

.Trailer{
    align-content:center;
    margin:auto;
    margin-top:5vh;
    text-align:center;
}
#youTubeTrailer{
    margin:auto;
}
.buttonStyle {
    background-color: orange;
    width: 3vw;
    height: 4vh;
    background-image: url(/img/search-icon.png);
    background-position: center center;
    background-repeat:no-repeat;
    background-size:contain;
    border-radius: 2px;
    border:0;
    margin-left:0.2vw;
}
